h1{
    text-align: center;
    font-size: 48px;
}
img{
    max-width: 800px;
    display: block;
    margin: 20px auto;
}
.photo {
   display: block;
   text-align: center;
   
}
body{
    background-color: yellowgreen;
}